{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block header %}
<!-- Perfect Scrollbar CSS -->
<link href="{% static 'dist/css/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css">

<!-- Dragula CSS -->
<link href="{% static 'vendors/dragula/dist/dragula.min.css' %}" rel="stylesheet" type="text/css">

<!-- Bootstrap Colorpicker -->
<link href="{% static 'vendors/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Bootstrap Dropzone CSS -->
<link href="{% static 'vendors/dropzone/dist/dropzone.min.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'kanban/css/kanban.css' %}" rel="stylesheet" type="text/css"/>
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block conteudo %}
<!-- Wrapper -->
<div class="hk-wrapper" data-layout="vertical" data-layout-style="collapsed" data-menu="light" data-footer="simple" data-hover="active">
    
    {% include 'parcials/_barra_superior.html' %}
    {% include 'parcials/_barra_vertical.html' %}
    {% include 'parcials/_chat_popup.html' %}
    <!-- Main Content -->
    <div class="hk-pg-wrapper pb-0" >
        <div class="hk-pg-body py-0">
            <div class="taskboardapp-wrap" id="main_content">

                
            </div>
        </div>
    </div>
    <!-- /Main Content -->
</div>
<!-- /Wrapper -->
<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>

<!-- Recarregar Main Content -->
<script>
    function recarrega_main() {
        $("#main_content").load("{% url 'kanban_main_content' %}");
    }
    window.onload = recarrega_main();
</script>


<!-- Bootstrap Core JS -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- FeatherIcons JS -->
<script src="{% static 'dist/js/feather.min.js' %}"></script>

<!-- Fancy Dropdown JS -->
<script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

<!-- Simplebar JS -->
<script src="{% static 'vendors/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Tinymce JS -->
<script src="{% static 'vendors/tinymce/tinymce.min.js' %}"></script>

<!-- Dragula JS -->
<script src="{% static 'vendors/dragula/dist/dragula.min.js' %}"></script>

<!-- PS scroll JS -->
<script src="{% static 'dist/js/perfect-scrollbar.min.js' %}"></script>

<!-- Daterangepicker JS -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/daterangepicker/daterangepicker.js' %}"></script>

<!-- Dropzone JS -->
<script src="{% static 'vendors/dropzone/dist/dropzone.min.js' %}"></script>

<!-- Bootstrap Colorpicker JS -->
<script src="{% static 'vendors/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'dist/js/color-picker-data.js' %}"></script>
{% endblock %}