{% extends 'base.html' %}

{% load static %}
{% block title %}Extrações{% endblock %}

{% block header %}
<link href="{% static 'extracoes/css/extracoes.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block conteudo %}
<!-- Wrapper -->
<div class="hk-wrapper" data-layout="vertical" data-layout-style="collapsed" data-menu="light" data-footer="simple" data-hover="active">
    {% include 'parcials/_barra_superior.html' %}
    {% include 'parcials/_barra_vertical.html' %}
    {% include 'parcials/_chat_popup.html' %}
    
    <!-- Main Content -->
    <div class="hk-pg-wrapper pb-0" >
        <div class="hk-pg-body py-0">
            <div class="blogapp-wrap blogapp-sidebar-toggle">
                
                <div id="messages">{% include 'parcials/_messages.html' %}</div>
                <div class="blogapp-content" id="conteudo-interno">
                    <div class="blogapp-detail-wrap">
                        <header class="blog-header">
                            <div class="d-flex align-items-center">
                                <a class="blogapp-title link-dark" href="#">
                                    <h1>Dados</h1>
                                </a>
                            </div>
                            <div class="blog-options-wrap">	
                                
                            </div>
                        </header>
                        <div class="blog-body">
                            <div data-simplebar class="nicescroll-bar">
                                <div class="post-list">
                                     <!-- Form dos filtros-->
                                     <h2>Filtros:</h2>
                                    <form class="edit-post-form" method="get" action="">
                                        <input type="hidden" value="{{request.user.username}}" name="vendedor">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="d-flex">
                                                    <div class="flex-fill">
                                                        <div class="form-group">
                                                            <label class="form-label">Nome do Cliente</label>
                                                            <input class="form-control" name="nome_cliente">
                                                        </div>
                                                    </div><!--/flex-fill-->
                                                    <div class="flex-fill mx-1"></div>
                                                    <div class="flex-fill">
                                                        <div class="form-group">
                                                            <label class="form-label">Nome do Vendedor</label>
                                                            <input class="form-control" name="nome_vendedor">
                                                        </div>
                                                    </div><!--/flex-fill-->
                                                </div><!--/d-flex-->
                                            </div><!-- /container-4-->

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">Documento</label>
                                                    <input class="form-control" name="documento">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label class="form-label">Cep</label>
                                                    <input class="form-control" name="cep">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-2">
                                                <div class="d-grid mt-5">
                                                    <button type="button" class="btn btn-outline-secondary" id="datebutton">Selecionar data Criação</button>
                                                </div>
                                                <div class="d-flex-wrap hidden" id="datearea">
                                                    <div class="d-flex" >

                                                        <div class="flex-fill">
                                                            <div class="form-group">
                                                                <label class="form-label">De</label>
                                                                <input class="form-control cal-event-date-start" name="single-date-pick" type="text"/>
                                                            </div>
                                                        </div><!-- /flex-fill -->
                                                        <div class="flex-fill mx-1"></div>
                                                        <div class="flex-fill">
                                                            <div class="form-group">
                                                                <label class="form-label">Até</label>
                                                                <input class="form-control cal-event-date-end" name="single-date-pick" type="text"/>
                                                            </div>
                                                        </div><!-- /flex-fill -->

                                                    </div><!-- /d-flex-->
                                                </div><!-- /d-flex-wrap -->
                                            </div><!--/col-md-2-->
                                        </div><!-- /row -->

                                        <!-- Second Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <fieldset>
                                                        <h6>Tags:</h6>
                                                    
                                                        {% for tag in tags %}
                                                            <span style="margin-right:20px!important">
                                                                <input type="checkbox" id="{{tag.nome}}"  name="tags" value="{{tag.id}}">
                                                                <label for="{{tag.nome}}">{{tag.nome|title}}</label>
                                                            </span>
                                                            {% if tag.id == 8 or tag.id == 16 or tag.id == 24 %}
                                                                <br>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </fieldset>
                                                </div>
                                            </div>
                                            
                                        </div><!-- /second row-->

                                        <!-- Thrid Row-->
                                        <div class="row">
                                            <div class="col-md-7"></div>
                                            <div class="col-md-1">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-outline-primary">Filtrar</button>
                                                </div>
                                            </div>
                                        </div><!-- /third row-->
                                    </form> 

                                    <form action=""method="post" target="_blank">
                                        {% csrf_token %}
                                        <input type="hidden" name="nada" value="teste">
                                        <button type="submit" class="btn btn-outline-success">Gerar CSV</button>
                                    </form>
                                    <div class="tab-content" >
                                        <div class="tab-pane fade show active" id="all_post">
                                            <div class="table-responsive-xxl">
                                                <table class="table table-hover" id="dataTable" width="99%" cellspacing="0">
                                                    <thead class="table-dark ">
                                                        <tr >
                                                            <th>Nome</th>
                                                            <th>Documento</th>
                                                            <th>Nome do Representante</th>
                                                            <th>CPF do Representante</th>
                                                            <th>Tags</th>
                                                            <th>Contato 1</th>
                                                            <th>Contato 2</th>
                                                            <th>Contato 3</th>
                                                            <th>Cep</th>
                                                            <th>Logradouro</th>
                                                            <th>Número</th>
                                                            <th>Complemento</th>
                                                            <th>Bairro</th>
                                                            <th>Município</th>
                                                            <th>Estado</th>
                                                            <th>Ponto de Referência</th>
                                                            <th>Email</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot class="table-dark">
                                                        <tr>
                                                            <th>Nome</th>
                                                            <th>Documento</th>
                                                            <th>Nome do Representante</th>
                                                            <th>CPF do Representante</th>
                                                            <th>Tags</th>
                                                            <th>Contato 1</th>
                                                            <th>Contato 2</th>
                                                            <th>Contato 3</th>
                                                            <th>Cep</th>
                                                            <th>Logradouro</th>
                                                            <th>Número</th>
                                                            <th>Complemento</th>
                                                            <th>Bairro</th>
                                                            <th>Município</th>
                                                            <th>Estado</th>
                                                            <th>Ponto de Referência</th>
                                                            <th>Email</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for dado in qs %}
                                                            <tr>
                                                                <td>{{dado.nome}}</td>
                                                                <td>{{dado.documento}}</td>
                                                                <td>{{dado.nome_rep}}</td>
                                                                <td>{{dado.cpf_rep}}</td>
                                                                <td>
                                                                    {% for tag in dado.tags.all %}
                                                                        <span class="tag {{tag.classe}}">{{tag.nome}}</span>
                                                                    {% endfor %}
                                                                </td>
                                                                <td>{{dado.contato_1}}</td>
                                                                <td>{{dado.contato_2}}</td>
                                                                <td>{{dado.contato_3}}</td>
                                                                <td>{{dado.cep}}</td>
                                                                <td>{{dado.logradouro}}</td>
                                                                <td>{{dado.numero}}</td>
                                                                <td>{{dado.complemento}}</td>
                                                                <td>{{dado.bairro}}</td>
                                                                <td>{{dado.municipio}}</td>
                                                                <td>{{dado.uf}}</td>
                                                                <td>{{dado.ponto_referencia}}</td>
                                                                <td>{{dado.email}}</td>
                                                                
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% include 'parcials/_pagination.html' %}
                                            </div> <!-- /Responsive table -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Add Category -->
                    <div id="add_new_cat" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h6 class="text-uppercase fw-bold mb-3">Add Category</h6>
                                    <form>
                                        <div class="row gx-3">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Category Name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Add Category -->
                    
                    <!-- Add Tag -->
                    <div id="add_new_tag" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h6 class="text-uppercase fw-bold mb-3">Add Tag</h6>
                                    <form>
                                        <div class="row gx-3">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <select id="input_tags" class="form-control" multiple="multiple">
                                                        <option selected="selected">Collaborator</option>
                                                        <option selected="selected">Designer</option>
                                                        <option selected="selected">React Developer</option>
                                                        <option selected="selected">Promotion</option>
                                                        <option selected="selected">Advertisement</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Tag -->
                </div>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Main Content -->
</div>
<!-- /Wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $( "#datebutton" ).click(function() {
        console.log('toggling')
        $( "#datearea" ).toggleClass( "hidden" );
    });
</script>
{% include 'parcials/_call_alerts.html' %}
{% endblock %}