{% load static %}
<!DOCTYPE html>
<!-- 
Jampack
Author: Hencework
Contact: contact@hencework.com
-->
<html lang="pt-br">
<head>
    <!-- Meta Tags -->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R&M System - {% block title %}{% endblock %}</title>
    <meta name="description" content="A modern CRM Dashboard Template with reusable and flexible components for your SaaS web applications by hencework. Based on Bootstrap."/>
    
	<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap Dropify CSS -->
	<link href="{% static 'vendors/dropify/dist/css/dropify.min.css' %}" rel="stylesheet" type="text/css"/>
	
	<!-- Daterangepicker CSS -->
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />

	<!-- Select2 CSS -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
	
	<!-- Daterangepicker CSS -->
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />

	<!-- Data Table CSS -->
    <link href="{% static 'vendors/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'vendors/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />

	<!-- CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">

    <!-- Styles adicionais -->
    {% block header %}{% endblock %}
</head>
<body>
    <!-- Wrapper -->
	<div class="hk-wrapper" data-layout="vertical" data-layout-style="default" data-menu="light" data-footer="simple">
		{% include 'parcials/_barra_superior.html' %}
		{% include 'parcials/_barra_vertical.html' %}
		{% include 'parcials/_chat_popup.html' %}
        {% block conteudo %}{% endblock %}
	</div>
    <!-- /Wrapper -->

   {% include 'parcials/_base_scripts.html' %}
</body>
</html>